### Comparison Operators <br>
<br>

== : value 1's content is the same as the comparrison <br>
\!= : value 1's content is not the same as the comparrison <br>
<  : Less than <br>
\>  : Greater than <br>
<=  : Less than or equals to<br>
\>=  : Greater than or equals to <br>

In [ ]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

## Logical Operators

In [ ]:
x = 5
y = 3

In [ ]:
#Returns True if both statements are true
x <5 and x <10

In [ ]:
#Returns True if one of the statements is true
x <=5 or x <4

In [ ]:
#Reverses the result and will return False is the result is not true
not(x <5 and x < 10)

## IF....Else

In [ ]:
#If Else example
mark = int(input("Enter mark: "))

if mark > 65:
    print("Pass")
else:
    print("Fail")

In [ ]:
mark = int(input("Enter mark: "))

if mark > 75:
    print("Merit")
elif mark > 65:
    print("Pass")
else:
    print("Fail")

In [ ]:
user_name = "Georgina"
UserName = "Craig"
username = "Satinder"

In [ ]:
if user_name == "Donna":
    print("Donna is your trainer.")
elif user_name == "Suzannah":
    print("Suzannah is your trainer.")
else:
    print(user_name, "is your trainer.")

In [ ]:
#Nested If Example
examlevel = int(input("Enter exam level: "))

if examlevel == 3:
    mark = int(input("Enter level 3 mark: "))
    if mark > 65: # secondary condition of exam level 3
        print("Pass")
    else:
        print("Fail")     
        
elif examlevel == 4:
    mark = int(input("Enter level 4 mark: "))
    if mark > 50:
        print("Pass")
    else:
        print("Fail")
else:
    print("Invalid Level")

In [ ]:
#IF with multile conditions example
print("Menu:")
print("1 - Level 1")
print("2 - Level 2")
print("3 - Level 3")
print("4 - Level 4")

examlevel = int(input("Enter exam level: "))

In [ ]:
if examlevel == 1 or examlevel == 2:
    mark = int(input("Enter Level 1 or 2 mark: "))
    if mark > 75:
        print("Pass")
    else:
        print("Fail")             
elif examlevel == 3 or examlevel == 4:
    mark = int(input("Enter Level 3 or 4 mark: "))
    if examlevel == 3 and mark > 65:
        print("Pass")
    elif examlevel == 4 and mark > 50:
        print("Pass")
    else:
        print("Fail")   
else:
    print("Invalid Level")

## Lists

In [30]:
""" 
It can be useful for a variable to refer to a collection of data. 
Lists refer to multiple values, which are all contained and accessible through a single variable

"""

farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]

print(farm_cows[2])

Milkshake

## List Methods

In [31]:
farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]
farm_cows.pop(1)
print(farm_cows)

ValueError: list.remove(x): x not in list

In [32]:
len(farm_cows)

4

In [33]:
farm_cows.append("Steve")
print(farm_cows)

['Winnie the Moo', 'Dasiy', 'Milkshake', 'Buttercup', 'Steve']

In [34]:
farm_cows.sort()
print(farm_cows)

['Buttercup', 'Dasiy', 'Milkshake', 'Steve', 'Winnie the Moo']

## List Subset

In [35]:
# A subsection of a list can be taken using the square brackets:

farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]
print(farm_cows[2])
print(farm_cows[1:3])
print(farm_cows[1:])
print(farm_cows[:3])

Milkshake
['Dasiy', 'Milkshake']
['Dasiy', 'Milkshake', 'Buttercup']
['Winnie the Moo', 'Dasiy', 'Milkshake']

## Multidimensional Lists

In [36]:
""""
A single list is useful for interacting with a row of data.
A multi dimensional list (a list made up of lists) is useful for interacting with a table of data

"""

farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]
farm_sheep = ["Baart", "Barbara"]
farm_pigs = ["Bacon", "Hamlet", "Hog"]

farm_animals = [farm_cows, farm_sheep, farm_pigs]

print(farm_animals [2] [1])
print(farm_animals [0] [3])

Hamlet
Buttercup

## Loosely Typed Lists

In [37]:
# A list of items can contain any data types, it can be a list that contains lists, strings, numbers etc.

farm = ["Snow Hill Farm", ["Winnie the Moo", "Daisy"], 1991]
#         string               List                     Int

print(farm[0])
print(farm[1])
print(farm[2])

Snow Hill Farm
['Winnie the Moo', 'Daisy']
1991

## Tuples

In [39]:
""""

A tuple is a read-only sequence of items separated by commas and enclosed within parentheses.
Tuples cannot be changed once they have been created.

"""

cat_list = ["Buttons", 23, 4.0]
cat_tuple = ("Mr Socks", 23, 4.0)

In [40]:
# name change
cat_list[0] = "Tigger"
print(cat_list)

['Tigger', 23, 4.0]

In [41]:
# name cannot be changed
cat_tuple[0] = "Twiglet"
print(cat_tuple)

TypeError: 'tuple' object does not support item assignment

## Sets

In [45]:
""""
A set is used to store multiple items in a single variable. 
A set is a collection which is unordered, unindexed, items can be added or removed, items are unique.
"""

cat_set = {"Buttons", "Mr Socks", "Twiglet" , "Twiglet"}
print(cat_set[1])

TypeError: 'set' object is not subscriptable

## Dictionaries

In [46]:
"""
Dictionaries are similar to lists such that they can store a collection of values, 
but you usually don't use indexes to find the items. 

Each value is stored with a key. When the key is searched for in the dictionary with a bracket [ ]
the value is returned.
"""

farm_animals = {"cow": "Cows go moo",
                "sheep": "Sheep go baa",
                "cat": "Cat go meow" 
                }

print(farm_animals["cow"])
print(farm_animals["sheep"])
print(farm_animals["cat"])

Cows go moo
Sheep go baa
Cat go meow

In [47]:
# adding to dictionary
farm_animals = {}
farm_animals["cow"] = "Cows go moo"
farm_animals["sheep"] = "Sheep goes baa"

print(farm_animals["cow"])
print(farm_animals["sheep"])

Cows go moo
Sheep goes baa

In [48]:
farm_animals["dog"] = "Dog goes bark"
print(farm_animals)

{'cow': 'Cows go moo', 'sheep': 'Sheep goes baa', 'dog': 'Dog goes bark'}

In [49]:
# A list of keys and/or values can be retrieved using the .keys() and .values() methods within a dictionary

farm_animals = {"cow" : "Cows go moo",
		  "sheep": "Sheep goes baa",
		  "cat": "Cats go meow"
		 }

list(farm_animals.keys())

['cow', 'sheep', 'cat']

In [50]:
list(farm_animals.values())

['Cows go moo', 'Sheep goes baa', 'Cats go meow']

In [51]:
# nested dictionaries 
mypets = {
  "pet1" : {
    "name" : "Fig",
    "year" : 2004
  },
  "pet2" : {
    "name" : "Ruby",
    "year" : 2007
  },
  "pet3" : {
    "name" : "Twiglet",
    "year" : 2011
  }
}

print(mypets)

{'pet1': {'name': 'Fig', 'year': 2004}, 'pet2': {'name': 'Ruby', 'year': 2007}, 'pet3': {'name': 'Twiglet', 'year': 2011}}

In [52]:
print(mypets['pet3'])

{'name': 'Twiglet', 'year': 2011}

In [53]:
print(mypets['pet3']['name'])

Twiglet