## Flights Data Exploration

Importing Data

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/MicrosoftDocs/ml-basics/ee7bccccf5dd1a95f9d547b2e9e5fd68f61fe02e/challenges/data/flights.csv"
df_flights = pd.read_csv(url)

Data Exploration

In [2]:
#Head of the data
df_flights.head()

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,9,16,1,DL,15304,Tampa International,Tampa,FL,12478,John F. Kennedy International,New York,NY,1539,4,0.0,1824,13,0,0
1,2013,9,23,1,WN,14122,Pittsburgh International,Pittsburgh,PA,13232,Chicago Midway International,Chicago,IL,710,3,0.0,740,22,1,0
2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,11278,Ronald Reagan Washington National,Washington,DC,810,-3,0.0,1614,-7,0,0
3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,11042,Cleveland-Hopkins International,Cleveland,OH,804,35,1.0,1027,33,1,0
4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,545,-1,0.0,728,-9,0,0

In [4]:
#Tail of the data
df_flights.tail(20)

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
271920,2013,7,21,7,WN,12451,Jacksonville International,Jacksonville,FL,12889,McCarran International,Las Vegas,NV,1255,-2,0.0,1430,-16,0,0
271921,2013,7,27,6,US,12889,McCarran International,Las Vegas,NV,14100,Philadelphia International,Philadelphia,PA,1430,12,0.0,2213,-7,0,0
271922,2013,9,17,2,DL,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,10792,Buffalo Niagara International,Buffalo,NY,1306,-7,0.0,1503,-7,0,0
271923,2013,8,2,5,OO,13851,Will Rogers World,Oklahoma City,OK,11292,Denver International,Denver,CO,1654,7,0.0,1730,9,0,0
271924,2013,7,20,6,EV,11433,Detroit Metro Wayne County,Detroit,MI,12264,Washington Dulles International,Washington,DC,1008,142,1.0,1138,133,1,0
271925,2013,6,30,7,YV,12339,Indianapolis International,Indianapolis,IN,12264,Washington Dulles International,Washington,DC,1437,-6,0.0,1615,48,1,0
271926,2013,7,11,4,AS,10299,Ted Stevens Anchorage International,Anchorage,AK,14747,Seattle/Tacoma International,Seattle,WA,220,-15,0.0,634,-8,0,0
271927,2013,9,27,5,WN,13495,Louis Armstrong New Orleans International,New Orleans,LA,11259,Dallas Love Field,Dallas,TX,1420,-2,0.0,1540,-10,0,0
271928,2013,4,14,7,WN,13495,Louis Armstrong New Orleans International,New Orleans,LA,11259,Dallas Love Field,Dallas,TX,1905,-1,0.0,2035,-6,0,0
271929,2013,9,9,1,DL,14869,Salt Lake City International,Salt Lake City,UT,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,1655,0,0.0,2232,-6,0,0
271930,2013,9,24,2,US,11057,Charlotte Douglas International,Charlotte,NC,13930,Chicago O'Hare International,Chicago,IL,2000,12,0.0,2057,5,0,0
271931,2013,7,5,5,WN,15304,Tampa International,Tampa,FL,10529,Bradley International,Hartford,CT,1100,2,0.0,1350,-10,0,0
271932,2013,8,26,1,WN,11292,Denver International,Denver,CO,12191,William P Hobby,Houston,TX,1855,-2,0.0,2215,0,0,0
271933,2013,10,29,2,US,13930,Chicago O'Hare International,Chicago,IL,14100,Philadelphia International,Philadelphia,PA,1345,-6,0.0,1645,-11,0,0
271934,2013,4,13,6,AA,11298,Dallas/Fort Worth International,Dallas/Fort Worth,TX,13204,Orlando International,Orlando,FL,1335,-7,0.0,1705,-12,0,0
271935,2013,9,20,5,VX,13204,Orlando International,Orlando,FL,12892,Los Angeles International,Los Angeles,CA,1730,1,0.0,1945,18,1,0
271936,2013,4,19,5,FL,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,11697,Fort Lauderdale-Hollywood International,Fort Lauderdale,FL,1020,24,1.0,1218,61,1,0
271937,2013,10,26,6,WN,12191,William P Hobby,Houston,TX,10821,Baltimore/Washington International Thurgood Ma...,Baltimore,MD,1540,30,1.0,1935,15,1,0
271938,2013,5,7,2,HA,13830,Kahului Airport,Kahului,HI,12173,Honolulu International,Honolulu,HI,609,-5,0.0,641,-6,0,0
271939,2013,6,11,2,UA,14771,San Francisco International,San Francisco,CA,14100,Philadelphia International,Philadelphia,PA,1338,60,1.0,2200,40,1,0

In [5]:
#Shape of the data
df_flights.shape

(271940, 20)

In [6]:
#Summary of the data
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271940 entries, 0 to 271939
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               271940 non-null  int64
 1   Month              271940 non-null  int64
 2   DayofMonth         271940 non-null  int64
 3   DayOfWeek          271940 non-null  int64
 4   Carrier            271940 non-null  object
 5   OriginAirportID    271940 non-null  int64
 6   OriginAirportName  271940 non-null  object
 7   OriginCity         271940 non-null  object
 8   OriginState        271940 non-null  object
 9   DestAirportID      271940 non-null  int64
 10  DestAirportName    271940 non-null  object
 11  DestCity           271940 non-null  object
 12  DestState          271940 non-null  object
 13  CRSDepTime         271940 non-null  int64
 14  DepDelay           271940 non-null  int64
 15  DepDel15           269179 non-null  float64
 16  CRSArrTime         271940 non-null  int64
 17  ArrDelay           271940 non-null  int64
 18  ArrDel15           271940 non-null  int64
 19  Cancelled          271940 non-null  int64
dtypes: float64(1), int64(12), object(7)
memory usage: 41.5+ MB

Data Selection

In [7]:
#Select one column (columns) returns as a dataframe:
df_flights[['Year']]

        Year
0       2013
1       2013
2       2013
3       2013
4       2013
...      ...
271935  2013
271936  2013
271937  2013
271938  2013
271939  2013

[271940 rows x 1 columns]

In [8]:
df_flights['Year']

0         2013
1         2013
2         2013
3         2013
4         2013
          ...
271935    2013
271936    2013
271937    2013
271938    2013
271939    2013
Name: Year, Length: 271940, dtype: int64

In [9]:
#Select multiple columns 
df_flights[['Year', 'OriginCity']]

        Year     OriginCity
0       2013          Tampa
1       2013     Pittsburgh
2       2013        Seattle
3       2013        Chicago
4       2013        Norfolk
...      ...            ...
271935  2013        Orlando
271936  2013        Atlanta
271937  2013        Houston
271938  2013        Kahului
271939  2013  San Francisco

[271940 rows x 2 columns]

In [11]:
#Tells us the type of data
type(df_flights[['Year']])

pandas.core.frame.DataFrame

In [12]:
#Data selection (rows and column labels):
df_flights.loc[0, 'Year']

2013

In [13]:
#Another way to select column variable:
df_flights.Year

0         2013
1         2013
2         2013
3         2013
4         2013
          ...
271935    2013
271936    2013
271937    2013
271938    2013
271939    2013
Name: Year, Length: 271940, dtype: int64

In [14]:
#iloc search by int position values row and column
df_flights.iloc[2,7]

'Seattle'

In [15]:
df_flights.loc[2:4]

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,11278,Ronald Reagan Washington National,Washington,DC,810,-3,0.0,1614,-7,0,0
3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,11042,Cleveland-Hopkins International,Cleveland,OH,804,35,1.0,1027,33,1,0
4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,545,-1,0.0,728,-9,0,0

In [16]:
df_flights.iloc[2:4]

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,11278,Ronald Reagan Washington National,Washington,DC,810,-3,0.0,1614,-7,0,0
3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,11042,Cleveland-Hopkins International,Cleveland,OH,804,35,1.0,1027,33,1,0

In [17]:
#function evaluate each rows on the Country column for the presence of the string 'Norfolk'
df_flights['OriginCity'].str.contains('Norfolk')

0         False
1         False
2         False
3         False
4          True
          ...
271935    False
271936    False
271937    False
271938    False
271939    False
Name: OriginCity, Length: 271940, dtype: bool

In [19]:
df_flights[df_flights['OriginCity'].str.contains('Norfolk')]

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,545,-1,0.0,728,-9,0,0
230,2013,8,23,5,WN,13931,Norfolk International,Norfolk,VA,12451,Jacksonville International,Jacksonville,FL,1500,55,1.0,1635,52,1,0
951,2013,9,2,1,EV,13931,Norfolk International,Norfolk,VA,13930,Chicago O'Hare International,Chicago,IL,1743,47,1.0,1855,46,1,0
1299,2013,6,6,4,US,13931,Norfolk International,Norfolk,VA,11057,Charlotte Douglas International,Charlotte,NC,515,-6,0.0,628,-20,0,0
1361,2013,4,23,2,EV,13931,Norfolk International,Norfolk,VA,11618,Newark Liberty International,Newark,NJ,1326,151,1.0,1455,152,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270121,2013,7,4,4,US,13931,Norfolk International,Norfolk,VA,11057,Charlotte Douglas International,Charlotte,NC,515,-7,0.0,628,-7,0,0
270262,2013,10,22,2,WN,13931,Norfolk International,Norfolk,VA,10821,Baltimore/Washington International Thurgood Ma...,Baltimore,MD,2005,-2,0.0,2115,-18,0,0
270399,2013,8,7,3,9E,13931,Norfolk International,Norfolk,VA,11433,Detroit Metro Wayne County,Detroit,MI,933,67,1.0,1130,48,1,0
271061,2013,8,4,7,EV,13931,Norfolk International,Norfolk,VA,13487,Minneapolis-St Paul International,Minneapolis,MN,1750,-1,0.0,1949,10,0,0
271078,2013,4,8,1,9E,13931,Norfolk International,Norfolk,VA,11433,Detroit Metro Wayne County,Detroit,MI,1055,-2,0.0,1259,-9,0,0

Clean missing values
Find how many null values there are for each column.

In [ ]:
df_flights.isnull().sum()

Hmm, looks like there are some null "late departure" indicators. Departures are considered late if the delay is 15 minutes or more, so let's see the delays for the ones with a null late indicator:

In [ ]:
df_flights[df_flights.isnull().any(axis=1)][['DepDelay','DepDel15']]

We can't see them all in this display, but it looks like they may all have delay of 0. Let's check by looking at the summary statistics for these records:

In [ ]:
df_flights[df_flights.isnull().any(axis=1)].DepDelay.describe()

The min, max, and mean are all 0; so it seems that none of these were actually late departures. Let's replace the missing DepDel15 indicator with a 0 and confirm there are no more missing values.

In [ ]:
df_flights.DepDel15 = df_flights.DepDel15.fillna(0)
df_flights.isnull().sum()

Clean outliers
View the distribution and summary statistics for the DepDelay and ArrDelay columns.

In [ ]:
# Function to show summary stats and distribution for a column
def show_distribution(var_data):
    from matplotlib import pyplot as plt

    # Get statistics
    min_val = var_data.min()
    max_val = var_data.max()
    mean_val = var_data.mean()
    med_val = var_data.median()
    mod_val = var_data.mode()[0]

    print(var_data.name,'\nMinimum:{:.2f}\nMean:{:.2f}\nMedian:{:.2f}\nMode:{:.2f}\nMaximum:{:.2f}\n'.format(min_val,
                                                                                            mean_val,
                                                                                            med_val,
                                                                                            mod_val,
                                                                                            max_val))

    # Create a figure for 2 subplots (2 rows, 1 column)
    fig, ax = plt.subplots(2, 1, figsize = (10,4))

    # Plot the histogram   
    ax[0].hist(var_data)
    ax[0].set_ylabel('Frequency')

    # Add lines for the mean, median, and mode
    ax[0].axvline(x=min_val, color = 'gray', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=mean_val, color = 'cyan', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=med_val, color = 'red', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=mod_val, color = 'yellow', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=max_val, color = 'gray', linestyle='dashed', linewidth = 2)

    # Plot the boxplot   
    ax[1].boxplot(var_data, vert=False)
    ax[1].set_xlabel('Value')

    # Add a title to the Figure
    fig.suptitle(var_data.name)

    # Show the figure
    fig.show()

# Call the function for each delay field
delayFields = ['DepDelay','ArrDelay']
for col in delayFields:
    show_distribution(df_flights[col])

There are a outliers at the lower and upper ends of both variables - particularly at the upper end.

Let's trim the data so that we include only rows where the values for these fields are within the 1st and 90th percentile.

In [ ]:
# Trim outliers for ArrDelay based on 1% and 90% percentiles
ArrDelay_01pcntile = df_flights.ArrDelay.quantile(0.01)
ArrDelay_90pcntile = df_flights.ArrDelay.quantile(0.90)
df_flights = df_flights[df_flights.ArrDelay < ArrDelay_90pcntile]
df_flights = df_flights[df_flights.ArrDelay > ArrDelay_01pcntile]

# Trim outliers for DepDelay based on 1% and 90% percentiles
DepDelay_01pcntile = df_flights.DepDelay.quantile(0.01)
DepDelay_90pcntile = df_flights.DepDelay.quantile(0.90)
df_flights = df_flights[df_flights.DepDelay < DepDelay_90pcntile]
df_flights = df_flights[df_flights.DepDelay > DepDelay_01pcntile]

# View the revised distributions
for col in delayFields:
    show_distribution(df_flights[col])

That looks a bit better.

Explore the data
Let's start with an overall view of the summary statistics for the numeric columns.

In [ ]:
df_flights.describe()

What are the mean departure and arrival delays?

In [ ]:
df_flights[delayFields].mean()

How do the carriers compare in terms of arrival delay performance?

In [ ]:
for col in delayFields:
    df_flights.boxplot(column=col, by='Carrier', figsize=(8,8))

Are some days of the week more prone to arrival days than others?

In [ ]:
for col in delayFields:
    df_flights.boxplot(column=col, by='DayOfWeek', figsize=(8,8))

Which departure airport has the highest average departure delay?

In [ ]:
departure_airport_group = df_flights.groupby(df_flights.OriginAirportName)

mean_departure_delays = pd.DataFrame(departure_airport_group['DepDelay'].mean()).sort_values('DepDelay', ascending=False)
mean_departure_delays.plot(kind = "bar", figsize=(12,12))
mean_departure_delays

Do late departures tend to result in longer arrival delays than on-time departures?

In [ ]:
df_flights.boxplot(column='ArrDelay', by='DepDel15', figsize=(12,12))

Which route (from origin airport to destination airport) has the most late arrivals?

In [ ]:
# Add a routes column
routes  = pd.Series(df_flights['OriginAirportName'] + ' > ' + df_flights['DestAirportName'])
df_flights = pd.concat([df_flights, routes.rename("Route")], axis=1)

# Group by routes
route_group = df_flights.groupby(df_flights.Route)
pd.DataFrame(route_group['ArrDel15'].sum()).sort_values('ArrDel15', ascending=False)

Which route has the highest average arrival delay?

In [ ]:
pd.DataFrame(route_group['ArrDelay'].mean()).sort_values('ArrDelay', ascending=False)