## NumPy

In [ ]:
#pip install numpy

In [ ]:
#Importing NumPy Library
import numpy as np

Array creation

In [ ]:
my_list = [1, 2.23, 3, 'num1', 5, -60, 7, 8, 9, 10]
# standard python list above

array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
#np array

print('list:',my_list)
print('array:',array)

In [ ]:
type(my_list)

In [ ]:
type(array)

In [ ]:
array = np.array([1, 2, 3, 4]) 
# array is made up of numbers

print(array) # prints all the data
print(array * 2) # prints each entity in the array * 2
print(array * array) 
# prints each entity in the array by itself

# really useful when dealing with large data sets to run calculations on arrays faster and less memory than a SpreadSheet
# faster than humans = AI

In [ ]:
list_num=[12, 34, 53, 1]
my_array=np.array(list_num)
print(my_array)
print(my_array*3)

***One-Dimensional and Two-Dimensional Arrays***

In [ ]:
# 1 dimensional array
array1 = np.array([1, 2, 3, 4, 5])

print(array1)

In [ ]:
# 2 dimensional array
array2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print(array2)

# look at how it prints a 2d array [[]]

In [ ]:
age=[3,4,5,5,89,90,86,99]
my_array=np.array(age)
print('1D:',my_array)

In [ ]:
age=[3,4,5,5,89]
height=[167, 200, 175, 160, 155]
my_array=np.array([age, height])
print('2D:',my_array)

In [ ]:
my_array[1,1]

In [ ]:
my_array*2

In [ ]:
my_array*2.5

Student Task: Array

Indexing

In [ ]:
list_fruit=['apple', 'banana', 'cherry']
list_fruit[0]

In [ ]:
#Retrievng the seceond element from the array
arr = np.array([1, 2, 3, 4])

print(arr[0:2])
print(arr[0])

In [ ]:
# We can even add the elements together
arr = np.array([1, 2, 3, 4])

print(arr[0] + arr[3])

Slicing

In [ ]:
array = np.array([1, 2, 3, 4, 5, 6, 7])

print(array[1:5]) 
# slices data from index 1 to 4  - 0 indexed and discounts final number

In [ ]:
array2 = np.array([1, 2, 3, 4, 5, 6, 7])

print(array2[:4])  
# slices unitl index/position 4

In [ ]:
slice1 = np.array([1,2,3,4,5,6,7,8]) 
# slices from 1 to 8 in increments of 2
print(slice1[1:4:2])

NP Zerpos

In [ ]:
zeros = np.zeros(10)  # single list/vector

print (zeros)

In [ ]:
zeros1 = np.zeros((4, 4)) # 4 by 4 matrix 

print(zeros1)

NP Ones

In [ ]:
ones = np.ones(8)  # single list/vector

print (ones)

In [ ]:
matrix = np.ones((3, 3)) # 3 by 3 matrix 

print(matrix)

NP Random Array

In [ ]:
random = np.random.rand(6,5) #rows, columns

print (random)

Arange

In [ ]:
x = np.arange(10)

print(x) # evenly spaced array

In [ ]:
# 3rd argument to add step
array2 = np.arange(0, 15, 2)

print(array2)

Shape & Reshape

In [ ]:
#Returns shape of array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

print(arr.shape) #attribue shape gives the number of rows and columns in a 2d array

In [ ]:
# 1D to 2D
array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newArray = array.reshape(4, 3) 
# rows then columns when creating the matrix

print(newArray)

In [ ]:
#1d array:
array1d=np.array([12, 21, 24, 8, 89, 12, 23, 43])

#to make it 2d use the reshape() function:
array1d.reshape(2,4) #row, columns

In [ ]:
# 1D array to 3D array
array1 = np.array([2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24])

newArray1 = array1.reshape(2, 3, 2) 
# 2 matrices, 3 rows and 2 columns. 
#Must use this order

print(newArray1)

Split arrays

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])
newarr = np.array_split(arr, 3)
print(newarr)

In [ ]:
# If the array has less elements than required, it will adjust from the end accordingly.
arr = np.array([1, 2, 3, 4, 5, 6])
newarr = np.array_split(arr, 4)
print(newarr)

Join arrays

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.concatenate((arr1, arr2))

print(arr)

Search Arrays

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 4, 4])
x = np.where(arr == 4)
print(x)
#the value 4 is present at index 3, 5, and 6

In [ ]:
#search where the values are even
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
x = np.where(arr%2 == 0) #Find the indexes where the values are even is the number devisiable by 2 and print odd numbers
print(x)
print(arr[x])

In [ ]:
#seach where the values are odd
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
x = np.where(arr%2 == 1)#Find the indexes where the values are odd is the number devisiable by 2 and print even numbers

print(x)
print(arr[x])

Sorting Arrays

In [ ]:
#Sorting by numbers
arr = np.array([3, 2, 0, 1])
print(np.sort(arr))

In [ ]:
#sorting alphabetically 
arr = np.array(['blue', 'yellow', 'red'])
print(np.sort(arr))

Mathematics

In [ ]:
array = np.arange(0,5)

print(array)

print("Subtract :",array - 10)
print("Multiply :", array * 10)
print("Divide :", array / 10)
print("Power :", array ** 2)

NP Dot

In [ ]:
#Matrix multiplication
a = np.arange(1,10).reshape(3,3)
b = np.arange(10,19).reshape(3,3)
c = np.dot(a, b)
print('a',a)
print('b',b)
print('c:',c)

In [ ]:
np.dot(a, 2)

In [ ]:
#Matrix multiplication using matmul
d=np.matmul(a,b)
print(d)

In [ ]:
np.matmul(a,2)

In [ ]:
np.matmul(b,a)

In [ ]:
#Columns of first matrix need to be equal to the rows of the second matrix
#This is an example of linear algebra!
a = np.arange(1,7).reshape(3,2)
b = np.arange(7,13).reshape(2,3)
np.matmul(a,b)

NP Sum

In [ ]:
a = np.arange(1,10).reshape(3,3)
b = np.arange(10,19).reshape(3,3)
c = np.dot(a, b)
print(c)

total_sum = np.sum(c)
print(total_sum)

In [ ]:
# you can use np.sum on any matrix.
print(a)
sum1 = np.sum(a)
print(sum1)

In [ ]:
#by column
a = np.arange(1,10).reshape(3,3)
b = np.arange(10,19).reshape(3,3)
c = np.dot(a, b)

print(c)

e = np.sum(c, axis = 0)

print(e)

In [ ]:
#by row
a = np.arange(1,10).reshape(3,3)
b = np.arange(10,19).reshape(3,3)
c = np.dot(a, b)

print(c)

e = np.sum(c,axis = 1)

print(e)

Mean, Median & Mode

In [ ]:
#Mean
height = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = np.mean(height)

print(x)

In [ ]:
#Median
height = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = np.median(height)

print(x)

In [ ]:
#Mode - NumPy has no attribute called Mode we need to use the Scipy Libray
from scipy import stats as st

height = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = st.mode(height)

print(x)

In [ ]:
height = [86,87,88,86,87,85,86]

x = np.std(height)
y = np.mean(height)

print ("The STD is:", x)
print("The mean is:", y)

In [ ]:

import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm

In [ ]:

# Draw random samples from standard normal distribution
#
x = np.random.randn(100)
#
# Plot probability distribution function
#
x_sorted = np.sort(x)
plt.figure(figsize=(7, 5))
plt.plot(x_sorted, norm.pdf(x_sorted))
plt.title("Normal distribution", fontsize=16)